form {
    width: 800px;
}

.nameFieldRow {
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
    width: 100%;
    // &:first-child {
    //     margin-right: 8px;
    // }
    gap: 8px;
    margin: 8px 0;
}
// .firtsName {
//     width: 50%;
// }
.button {
    margin: 8px 0;
    &:last-child {
        text-decoration: underline;
        color: rgb(184, 184, 184)
    }
    text-align: center;
}
.loginFormPassword {
    margin: 8px 0;
}
.footerText {
    margin: 8px 0;
}